[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.34.2"
pandas = ">=3.0.5"
apache-airflow = {extras = ["cncf.kubernetes"], version = "==3.0.6"}
cron-converter = "2.0.1"
pendulum = "==3.2.0"

[dev-packages]
pyright = "==1.1.411"
pytest = ">=9.1.1"
pre-commit = ">=4.6.2"

[requires]
python_version = "3.11"
